Django==5.2
python-dotenv==1.1.0
requests==2.32.3
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.66
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
sentence-transformers==4.1.0
faiss-cpu==1.10.0
transformers==4.52.4
huggingface-hub==0.33.0
torch==2.7.1
pypdf==5.4.0
numpy==2.2.4
scipy==1.15.2
argostranslate==1.9.6
sacremoses==0.0.53
sentencepiece==0.2.0
ctranslate2>=4.0,<5
altair==5.5.0
pandas==2.2.3
